@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Antonio', sans-serif;
    background-color: #f1ebe0;
    color: #2B2B2B;
    width: 100vw;
    overflow-x: hidden;
    letter-spacing: .001rem;
    word-spacing: 0.05rem;
}

header {
    width: 100vw;
    text-align: center;
    padding: 1.5rem 0rem;
}

h3 {
    text-decoration: underline;
}

.global-info>*:not(:last-of-type) {
    padding-right: 1.2rem;
}

.global-info h3 {
    text-align: center;
    padding: 1rem;
}

.global-info {
    line-height: 1.625rem;
    letter-spacing: 0.01rem;
    font-size: 1.3rem;
    padding-top: 1rem;
    width: 95vw;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.flex>*:not(:last-child) {
    padding-bottom: 1rem;
}

.content {
    margin-bottom: 1rem;
}

.green {
    color: #289672;
}

.danger {
    color: #be0000;
    font-weight: 700;
}

.paginationText {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 1rem;
}

.pageLink a,
.pageLink:visited {
    text-decoration: none;
}

.suche form {
    width: 100vw;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suche label {
    font-size: 2rem;
}

.suche input {
    border: none;
    background-color: #f1ebe0;
    margin: 0rem;
    padding: .5rem .5rem 0rem .5rem;
    border-bottom: .1rem solid #9A8194;
    font-size: 2rem;
}

.suche input:focus {
    border-bottom: .1rem solid #9A8194;
    outline: none;
}

.suche input:active {
    outline: none;
}

.suche input::placeholder {
    text-align: center;
}

table {
    padding-top: 2rem;
    width: 98vw;
}

thead tr th {
    text-align: center;
    background-color: #9A8194;
    color: #ebe2d4;
    padding: 1rem 0.3rem;
}

thead tr>*:not(:last-child) {
    padding-right: 1rem;
}

tbody tr th,
tbody tr td {
    text-align: center;
    padding: 0.4rem 0rem;
}

tr:nth-child(even) {
    background-color: #e6d8c1;
}

tr:nth-child(odd) {
    background-color: #C6A9A3;
}

.paginationLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 4rem;
}

@media screen and (min-width: 48em) {
    .flex {
        flex-direction: row;
        width: 70vw;
        margin: 0rem auto;
    }
    table {
        width: 80vw;
        padding-bottom: 1rem;
    }
    .paginationLinks {
        width: 45vw;
    }
}

@media screen and (min-width: 75em) {
    .flex {
        width: 50vw;
    }
    .paginationLinks {
        width: 18vw;
    }
}